<header id="masthead">
    <div class="header-container">
        <div class="header-row brand">
            <h1>
                <a href="{{ replace:'index.html','' }}" title="2022 NSF CSSI PI Meeting">
                    <img src="assets/images/nsf-logo.png" alt="National Science Foundation"/>
                    2022 NSF CSSI PI Meeting
                </a>
            </h1>
        </div>
        <nav class="header-row" id="nav">
            <div class="header-nav">
                <ul class="menu">
                    <li class="links-to-floor-li">
                        <a href="#home" data-id="1" class="active">Home</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#registration" data-id="2">Registration</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#venue" data-id="3">Venue/Hotel</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#agenda" data-id="4">Agenda</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#poster" data-id="5">Posters</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#talks" data-id="6">Lightning Talks</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#discussion" data-id="7">Discussion Forum</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#organizers" data-id="8">Organizers</a>
                    </li>
                    <li class="links-to-floor-li">
                        <a href="#code-conduct" data-id="9">Code of Conduct</a>
                    </li>    
                    <li class="links-to-floor-li">
                        <a href="#covid" data-id="10">COVID-19 Considerations</a>
                    </li>
                </ul>
            </div>
        </nav><!-- / #nav -->
        <div class="header-row copyright">
            <ul>
                <li>&copy; 2022 CSSI PI Community</li>
                <li>Maintained by: <a href="https://github.com/CSSI-PI-Community">CSSI PI Community</a></li>
            </ul>

            <p class="disclaimer">
                Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
            </p>

            <a href="#nav" class="hamburger tooltips" title="Menu">
                <span class="hamburger-box">
                    <span class="hamburger-inner">Menu</span>
                </span>
            </a>
        </div>
    </div>
</header><!-- / #masthead -->
