<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="" />

    <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="og:type" content="article" />
    <meta name="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta name="og:site_name" content="{{ site.title }}" />
    <meta name="og:description" content="{{ site.description }}" />

    <link rel="stylesheet" href="assets/css/site.css"/>

    <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/js/html5.js"></script>
    <![endif]-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.ui.min.js"></script>
    <script src="assets/js/jquery.ascensor.min.js"></script>
    <script src="assets/js/site.js"></script>
</head>
